.Button {
    background-color: transparent;
    border: none;
    color: rgb(14, 173, 49);
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}



.Danger {
    color: #944317;
}